<h1>Editing Parent</h1>

<%= render 'form' %>	

<div class="change_links">
<%= button_to 'Show', @parent, method: :get %>
</div>
<div class="change_links">
<%= button_to 'Back', parent_index_path, method: :get %>
</div>
