<h1>Welcome, Please Checkin Here</h1>
<div id="checkin-children"><ul></ul></div>
<button id="checkin-btn">Checkin</button>
<lable for="parent-search">Type in parent name:</lable>
<input type="text" id="parent-search" />
<div id="parent-search-result"><ul></ul></div>
